# Access to water problems in AFRICA 
Â© .....

# PART 1

In this notebook, we demonstrate how to extract basic informations about how to access to drinking water.

## Exploring our databas:

## Connecting to our MySQL database (md_water_services) 

Using our `md_water_services` tables created in MySQL Workbench, we want to answer some questions.

In [1]:
pip install sqlalchemy==1.4.4

Requirement already satisfied: sqlalchemy==1.4.4 in c:\users\lenovo\anaconda3\envs\sql_packages\lib\site-packages (1.4.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\envs\sql_packages\lib\site-packages (from sqlalchemy==1.4.4) (2.0.1)

In [2]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [4]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:password@localhost:3306/md_water_services

'Connected: root@md_water_services'

## 1. Get to know our data:

In [5]:
%%sql

SHOW TABLES ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
8 rows affected.

[('data_dictionary',),
 ('employee',),
 ('global_water_access',),
 ('location',),
 ('visits',),
 ('water_quality',),
 ('water_source',),
 ('well_pollution',)]

### Let's look at location table.

In [7]:
%%sql

SELECT *
FROM location
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('AkHa00000', '2 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00001', '10 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00002', '9 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00003', '139 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00004', '17 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban')]

### Also let's look at the visits table.

In [8]:
%%sql

SELECT *
FROM visits
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(0, 'SoIl32582', 'SoIl32582224', datetime.datetime(2021, 1, 1, 9, 10), 1, 15, 12),
 (1, 'KiRu28935', 'KiRu28935224', datetime.datetime(2021, 1, 1, 9, 17), 1, 0, 46),
 (2, 'HaRu19752', 'HaRu19752224', datetime.datetime(2021, 1, 1, 9, 36), 1, 62, 40),
 (3, 'AkLu01628', 'AkLu01628224', datetime.datetime(2021, 1, 1, 9, 53), 1, 0, 1),
 (4, 'AkRu03357', 'AkRu03357224', datetime.datetime(2021, 1, 1, 10, 11), 1, 28, 14)]

### Now let's look at the water_source table to see what a 'source' is. Normally "_id" columns are related to another table.

In [9]:
%%sql

SELECT *
FROM water_source
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('AkHa00000224', 'tap_in_home', 956),
 ('AkHa00001224', 'tap_in_home_broken', 930),
 ('AkHa00002224', 'tap_in_home_broken', 486),
 ('AkHa00003224', 'well', 364),
 ('AkHa00004224', 'tap_in_home_broken', 942)]

### Nice! Ok, we're getting somewhere now... Water sources are where people get their water from! Ok, this database is actually complex.

## 2. Dive into the water sources:

### Finding all the unique types of water sources.

In [14]:
%%sql

SELECT DISTINCT type_of_water_source
FROM water_source;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('tap_in_home',),
 ('tap_in_home_broken',),
 ('well',),
 ('shared_tap',),
 ('river',)]

## 3. Unpack the visits to water sources:
#### We have a table in our database that logs the visits made to different water sources. I will identify this table in a few steps.

#### This SQL query will retrieve all records from this table where the 'time_in_queue' is more than some crazy time, say 500 min. How would it feel to queue 8 hours for water?

In [18]:
%%sql

SELECT * 
FROM visits
Where time_in_queue > 500
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(899, 'SoRu35083', 'SoRu35083224', datetime.datetime(2021, 1, 16, 10, 14), 6, 515, 28),
 (2304, 'SoKo33124', 'SoKo33124224', datetime.datetime(2021, 2, 6, 7, 53), 5, 512, 16),
 (2315, 'KiRu26095', 'KiRu26095224', datetime.datetime(2021, 2, 6, 14, 32), 3, 529, 8),
 (3206, 'SoRu38776', 'SoRu38776224', datetime.datetime(2021, 2, 20, 15, 3), 5, 509, 46),
 (3701, 'HaRu19601', 'HaRu19601224', datetime.datetime(2021, 2, 27, 12, 53), 3, 504, 0)]

### I am wondering what type of water sources take this long to queue for. We will have to find that information in another table that liststhe types of water sources.

In [29]:
%%sql

SELECT ws.source_id, 
        ws.type_of_water_source,
        ws.number_of_people_served, 
        v.time_in_queue
FROM water_source ws
JOIN visits v on ws.source_id=v.source_id
ORDER BY v.time_in_queue DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('HaRu19538224', 'shared_tap', 3142, 539),
 ('AkRu05704224', 'shared_tap', 3398, 539),
 ('AmRu14612224', 'shared_tap', 3118, 539),
 ('SoRu35388224', 'shared_tap', 3060, 538),
 ('HaRu20126224', 'shared_tap', 3164, 538)]

### Okay, now we observed that the longest waiting time appears in type of water source is "shared tap".

# 4. Assess the quality of water sources:

### The quality of our water sources is the whole point of this research.
### Let's look at water_quality table.

### Field surveyor assigned a score to each source from 1, being terrible, to 10 for agood, clean water source in a home.
### Shared taps are not rated as high, and the score also depends on how long the queue times are.

In [33]:
%%sql

SELECT *
FROM md_water_services.water_quality
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(0, 0, 1), (1, 1, 1), (2, 5, 1), (3, 10, 1), (4, 4, 1)]

## 5. Investigate pollution issues:

It looks like our scientists diligently recorded the water quality of all the wells. Some are contaminated with biological contaminants, while others are polluted with an excess of heavy metals and other pollutants. Based on the results, each well was classified as Clean, Contaminated: Biological or Contaminated: Chemical.

In [35]:
%%sql

SELECT *
FROM md_water_services.well_pollution
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('KiRu28935224', datetime.datetime(2021, 1, 4, 9, 17), 'Bacteria: Giardia Lamblia', 0.0, 495.898, 'Contaminated: Biological'),
 ('AkLu01628224', datetime.datetime(2021, 1, 4, 9, 53), 'Bacteria: E. coli', 0.0, 6.09608, 'Contaminated: Biological'),
 ('HaZa21742224', datetime.datetime(2021, 1, 4, 10, 37), 'Inorganic contaminants: Zinc, Zinc, Lead, Cadmium', 2.715, 0.0, 'Contaminated: Chemical'),
 ('HaRu19725224', datetime.datetime(2021, 1, 4, 11, 4), 'Clean', 0.0288593, 9.56996e-05, 'Clean'),
 ('SoRu35703224', datetime.datetime(2021, 1, 4, 11, 29), 'Bacteria: E. coli', 0.0, 22.5009, 'Contaminated: Biological')]

In the well pollution table, the descriptions are notes taken by our scientists as text, so it will be challenging to process it. The
biological column is in units of CFU/mL, so it measures how much contamination is in the water. 0 is clean, and anything more than
0.01 is contaminated.
Let's check the integrity of the data. The worst case is if we have contamination, but we think we don't. People can get sick, so we
need to make sure there are no errors here.

In [37]:
%%sql

SELECT *
FROM md_water_services.well_pollution
where  biological > 0.01 AND results = 'Clean'
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('AkRu08936224', datetime.datetime(2021, 1, 8, 9, 22), 'Bacteria: E. coli', 0.0406458, 35.0068, 'Clean'),
 ('AkRu06489224', datetime.datetime(2021, 1, 10, 9, 44), 'Clean Bacteria: Giardia Lamblia', 0.0897904, 38.467, 'Clean'),
 ('SoRu38011224', datetime.datetime(2021, 1, 14, 15, 35), 'Bacteria: E. coli', 0.0425095, 19.2897, 'Clean'),
 ('AkKi00955224', datetime.datetime(2021, 1, 22, 12, 47), 'Bacteria: E. coli', 0.0812092, 40.2273, 'Clean'),
 ('KiHa22929224', datetime.datetime(2021, 2, 6, 13, 54), 'Bacteria: E. coli', 0.0722537, 18.4482, 'Clean')]

If we compare the results of this query to the entire table it seems like we have some inconsistencies in how the well statuses arerecorded. Specifically, it seems that some data input personnel might have mistaken the description field for determining the clean-liness of the water.

#### according to our research Results should be clean only if (biological < 0.01 and have no bactria) but we  found
#### 1- some of descriptions contain word *clean* and *bactria* in the same cell.
#### 2- some results are clean eventhough biological > .01 
to fix these mistakes in our database we will update our data like this :

### First we have to set the sql_safe to zero.

In [ ]:
%%sql 

SET sql_safe_updates = 0 ;...

In [ ]:
%%sql

/*2- REMOVING WORD "CLEAN" from description if it contain bactria*/
UPDATE well_pollution
SET
description = 'Bacteria: E. coli'
WHERE description = 'Clean Bacteria: E. coli';

UPDATE well_pollution
SET
description = 'Bacteria: Giardia Lamblia'
WHERE description = 'Clean Bacteria: Giardia Lamblia';

/* 2- REMOVING WORD "CLEAN" from Result if biological > 0.01*/
UPDATE well_pollution
SET
results = 'Contaminated: Biological'
WHERE biological > 0.01 AND results = 'Clean';

SET sql_safe_updates = 1;

### Now let's check our new table

In [52]:
%%sql 

SELECT * 
FROM md_water_services.well_pollution
LIMIT 100;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
100 rows affected.

[('KiRu28935224', datetime.datetime(2021, 1, 4, 9, 17), 'Bacteria: Giardia Lamblia', 0.0, 495.898, 'Contaminated: Biological'),
 ('AkLu01628224', datetime.datetime(2021, 1, 4, 9, 53), 'Bacteria: E. coli', 0.0, 6.09608, 'Contaminated: Biological'),
 ('HaZa21742224', datetime.datetime(2021, 1, 4, 10, 37), 'Inorganic contaminants: Zinc, Zinc, Lead, Cadmium', 2.715, 0.0, 'Contaminated: Chemical'),
 ('HaRu19725224', datetime.datetime(2021, 1, 4, 11, 4), 'Clean', 0.0288593, 9.56996e-05, 'Clean'),
 ('SoRu35703224', datetime.datetime(2021, 1, 4, 11, 29), 'Bacteria: E. coli', 0.0, 22.5009, 'Contaminated: Biological'),
 ('AkHa00070224', datetime.datetime(2021, 1, 4, 11, 42), 'Inorganic contaminants: Cadmium', 5.46739, 0.0, 'Contaminated: Chemical'),
 ('HaSe21346224', datetime.datetime(2021, 1, 4, 11, 52), 'Clean', 0.0140376, 8.98989e-05, 'Clean'),
 ('HaYa21468224', datetime.datetime(2021, 1, 4, 12, 3), 'Inorganic contaminants: Chromium, Barium, Chromium, Lead', 6.05137, 0.0, 'Contaminated: Chemical'),
 ('SoRu36278224', datetime.datetime(2021, 1, 4, 12, 24), 'Parasite: Cryptosporidium', 0.0, 485.162, 'Contaminated: Biological'),
 ('AkLu02155224', datetime.datetime(2021, 1, 4, 12, 29), 'Inorganic contaminants: Selenium, Arsenic', 7.64106, 0.0, 'Contaminated: Chemical'),
 ('AkRu06938224', datetime.datetime(2021, 1, 4, 12, 56), 'Inorganic contaminants: Silver, Zinc, Zinc, Lead', 1.99096, 0.0, 'Contaminated: Chemical'),
 ('AkRu05825224', datetime.datetime(2021, 1, 4, 13, 7), 'Inorganic contaminants: Silver', 5.89926, 0.0, 'Contaminated: Chemical'),
 ('AkRu05973224', datetime.datetime(2021, 1, 4, 13, 44), 'Clean', 0.084344, 6.2396e-05, 'Clean'),
 ('SoRu36313224', datetime.datetime(2021, 1, 4, 13, 46), 'Bacteria: Vibrio cholerae', 0.0, 182.88, 'Contaminated: Biological'),
 ('KiMr24968224', datetime.datetime(2021, 1, 4, 13, 52), 'Bacteria: E. coli', 0.0, 44.2164, 'Contaminated: Biological'),
 ('KiRu27916224', datetime.datetime(2021, 1, 4, 14, 19), 'Inorganic contaminants: Zinc', 1.06885, 0.0, 'Contaminated: Chemical'),
 ('SoRu35508224', datetime.datetime(2021, 1, 4, 14, 49), 'Inorganic contaminants: Chromium, Zinc', 4.15909, 0.0, 'Contaminated: Chemical'),
 ('AkHa00706224', datetime.datetime(2021, 1, 4, 16, 10), 'Clean', 0.0862577, 4.22834e-05, 'Clean'),
 ('AkHa00465224', datetime.datetime(2021, 1, 4, 16, 28), 'Inorganic contaminants: Lead, Mercury, Copper', 4.97264, 0.0, 'Contaminated: Chemical'),
 ('SoRu39241224', datetime.datetime(2021, 1, 4, 16, 40), 'Inorganic contaminants: Copper', 1.28796, 0.0, 'Contaminated: Chemical'),
 ('HaRu20773224', datetime.datetime(2021, 1, 7, 9, 8), 'Clean', 0.0599682, 2.42289e-05, 'Clean'),
 ('SoRu39205224', datetime.datetime(2021, 1, 7, 9, 59), 'Inorganic contaminants: Barium', 8.10898, 0.0, 'Contaminated: Chemical'),
 ('HaDj16683224', datetime.datetime(2021, 1, 7, 10, 16), 'Virus: Hepatitis A Virus', 0.0, 96.6341, 'Contaminated: Biological'),
 ('HaRu18434224', datetime.datetime(2021, 1, 7, 11, 16), 'Bacteria: Shigella', 0.0, 318.664, 'Contaminated: Biological'),
 ('AkRu04914224', datetime.datetime(2021, 1, 7, 11, 35), 'Clean', 0.050281, 9.42943e-05, 'Clean'),
 ('HaSe20931224', datetime.datetime(2021, 1, 7, 11, 46), 'Clean', 0.0224843, 9.87848e-05, 'Clean'),
 ('AkRu04543224', datetime.datetime(2021, 1, 7, 12, 20), 'Inorganic contaminants: Copper, Mercury, Lead, Cadmium', 3.94125, 0.0, 'Contaminated: Chemical'),
 ('KiAm22119224', datetime.datetime(2021, 1, 7, 12, 34), 'Inorganic contaminants: Selenium, Selenium, Zinc, Chromium', 2.17517, 0.0, 'Contaminated: Chemical'),
 ('AkLu02211224', datetime.datetime(2021, 1, 7, 12, 49), 'Bacteria: E. coli', 0.0, 3.57905, 'Contaminated: Biological'),
 ('HaDe16499224', datetime.datetime(2021, 1, 7, 12, 53), 'Parasite: Cryptosporidium', 0.0, 485.162, 'Contaminated: Biological'),
 ('SoRu39347224', datetime.datetime(2021, 1, 7, 12, 54), 'Inorganic contaminants: Selenium, Silver', 7.07203, 0.0, 'Contaminated: Chemical'),
 ('AmAm09579224', datetime.datetime(2021, 1, 7, 13, 2), 'Clean', 0.0830754, 1.10413e-05, 'Clean'),
 ('SoCh32247224', datetime.datetime(2021, 1, 7, 14, 23), 'Inorganic contaminants: Barium, Arsenic, Zinc', 2.8855, 0.0, 'Contaminated: Chemical'),
 ('HaRu20738224', datetime.datetime(2021, 1, 7, 14, 57), 'Bacteria: E. coli', 0.0, 35.2462, 'Contaminated: Biological'),
 ('HaAm16229224', datetime.datetime(2021, 1, 7, 15, 10), 'Inorganic contaminants: Mercury', 2.43936, 0.0, 'Contaminated: Chemical'),
 ('HaRu20104224', datetime.datetime(2021, 1, 7, 15, 17), 'Inorganic contaminants: Copper, Barium', 5.30061, 0.0, 'Contaminated: Chemical'),
 ('KiHa23405224', datetime.datetime(2021, 1, 7, 15, 29), 'Clean', 0.0633972, 5.88518e-05, 'Clean'),
 ('KiRu27870224', datetime.datetime(2021, 1, 7, 15, 46), 'Bacteria: Shigella', 0.0, 318.664, 'Contaminated: Biological'),
 ('AmDa11574224', datetime.datetime(2021, 1, 7, 15, 51), 'Clean', 0.0290295, 6.11353e-05, 'Clean'),
 ('HaDj16798224', datetime.datetime(2021, 1, 7, 16, 30), 'Inorganic contaminants: Silver, Zinc', 9.30166, 0.0, 'Contaminated: Chemical'),
 ('KiRu26713224', datetime.datetime(2021, 1, 7, 16, 52), 'Clean', 0.0854418, 2.91209e-05, 'Clean'),
 ('HaRu20701224', datetime.datetime(2021, 1, 8, 9, 1), 'Virus: Hepatitis A Virus', 0.0, 96.6341, 'Contaminated: Biological'),
 ('SoMa34243224', datetime.datetime(2021, 1, 8, 9, 17), 'Clean', 0.0708139, 6.21986e-05, 'Clean'),
 ('AkRu08936224', datetime.datetime(2021, 1, 8, 9, 22), 'Bacteria: E. coli', 0.0406458, 35.0068, 'Contaminated: Biological'),
 ('KiAm22120224', datetime.datetime(2021, 1, 8, 9, 23), 'Virus: Enteroviruses', 0.0, 262.668, 'Contaminated: Biological'),
 ('AkRu03143224', datetime.datetime(2021, 1, 8, 9, 24), 'Inorganic contaminants: Cadmium, Arsenic, Selenium, Silver', 6.2995, 0.0, 'Contaminated: Chemical'),
 ('AkRu03586224', datetime.datetime(2021, 1, 8, 10, 12), 'Virus: Enteroviruses', 0.0, 262.668, 'Contaminated: Biological'),
 ('AmBe11186224', datetime.datetime(2021, 1, 8, 10, 24), 'Clean', 0.0761867, 3.15558e-05, 'Clean'),
 ('KiRu30163224', datetime.datetime(2021, 1, 8, 11, 22), 'Inorganic contaminants: Arsenic, Lead', 5.4852, 0.0, 'Contaminated: Chemical'),
 ('KiRu26783224', datetime.datetime(2021, 1, 8, 11, 52), 'Clean', 0.0340469, 8.68879e-05, 'Clean'),
 ('AmRu14190224', datetime.datetime(2021, 1, 8, 12, 49), 'Inorganic contaminants: Zinc, Zinc, Lead, Cadmium', 7.56375, 0.0, 'Contaminated: Chemical'),
 ('KiRu26584224', datetime.datetime(2021, 1, 8, 13, 10), 'Parasite: Cryptosporidium', 0.0, 485.162, 'Contaminated: Biological'),
 ('AkLu02295224', datetime.datetime(2021, 1, 8, 13, 31), 'Clean', 0.0209784, 3.97724e-05, 'Clean'),
 ('AkRu07845224', datetime.datetime(2021, 1, 8, 13, 52), 'Inorganic contaminants: Arsenic', 8.41125, 0.0, 'Contaminated: Chemical'),
 ('KiMr25146224', datetime.datetime(2021, 1, 8, 14, 2), 'Inorganic contaminants: Selenium, Barium, Lead, Zinc', 5.31081, 0.0, 'Contaminated: Chemical'),
 ('HaRu20767224', datetime.datetime(2021, 1, 8, 14, 8), 'Inorganic contaminants: Chromium', 9.53661, 0.0, 'Contaminated: Chemical'),
 ('KiRu26837224', datetime.datetime(2021, 1, 8, 14, 9), 'Inorganic contaminants: Lead, Zinc', 2.76116, 0.0, 'Contaminated: Chemical'),
 ('AkRu04918224', datetime.datetime(2021, 1, 8, 15, 10), 'Inorganic contaminants: Copper, Mercury', 5.65229, 0.0, 'Contaminated: Chemical'),
 ('KiRu28471224', datetime.datetime(2021, 1, 8, 15, 54), 'Inorganic contaminants: Barium', 5.54799, 0.0, 'Contaminated: Chemical'),
 ('AkRu07713224', datetime.datetime(2021, 1, 8, 16, 27), 'Inorganic contaminants: Lead, Lead, Lead', 4.97475, 0.0, 'Contaminated: Chemical'),
 ('KiRu25465224', datetime.datetime(2021, 1, 9, 10, 15), 'Bacteria: Giardia Lamblia', 0.0, 495.898, 'Contaminated: Biological'),
 ('AkRu07262224', datetime.datetime(2021, 1, 9, 10, 18), 'Inorganic contaminants: Arsenic', 8.1551, 0.0, 'Contaminated: Chemical'),
 ('HaRu17749224', datetime.datetime(2021, 1, 9, 10, 38), 'Inorganic contaminants: Barium', 5.43926, 0.0, 'Contaminated: Chemical'),
 ('HaSe21277224', datetime.datetime(2021, 1, 9, 10, 46), 'Clean', 0.0391768, 3.81981e-05, 'Clean'),
 ('AkRu07933224', datetime.datetime(2021, 1, 9, 10, 52), 'Virus: Enteroviruses', 0.0, 262.668, 'Contaminated: Biological'),
 ('HaDe16434224', datetime.datetime(2021, 1, 9, 10, 57), 'Bacteria: E. coli', 0.0, 15.4936, 'Contaminated: Biological'),
 ('AkHa00744224', datetime.datetime(2021, 1, 9, 11, 14), 'Clean', 0.0370928, 7.16733e-05, 'Clean'),
 ('AkKi01036224', datetime.datetime(2021, 1, 9, 11, 40), 'Inorganic contaminants: Barium, Mercury, Mercury', 1.69538, 0.0, 'Contaminated: Chemical'),
 ('AkRu08868224', datetime.datetime(2021, 1, 9, 11, 51), 'Clean', 0.088961, 4.37723e-05, 'Clean'),
 ('HaSe20883224', datetime.datetime(2021, 1, 9, 12, 33), 'Clean', 0.0732487, 3.84149e-06, 'Clean'),
 ('SoRu37469224', datetime.datetime(2021, 1, 9, 12, 36), 'Inorganic contaminants: Mercury, Copper', 4.78533, 0.0, 'Contaminated: Chemical'),
 ('AkRu06795224', datetime.datetime(2021, 1, 9, 12, 58), 'Clean', 0.0834844, 8.78906e-05, 'Clean'),
 ('AkRu05768224', datetime.datetime(2021, 1, 9, 13, 8), 'Inorganic contaminants: Silver, Selenium, Cadmium', 9.43334, 0.0, 'Contaminated: Chemical'),
 ('KiMr24871224', datetime.datetime(2021, 1, 9, 13, 24), 'Inorganic contaminants: Silver, Cadmium', 5.9686, 0.0, 'Contaminated: Chemical'),
 ('SoRu37832224', datetime.datetime(2021, 1, 9, 13, 50), 'Virus: Enteroviruses', 0.0, 262.668, 'Contaminated: Biological'),
 ('AkRu07238224', datetime.datetime(2021, 1, 9, 13, 55), 'Clean', 0.0167354, 2.79285e-05, 'Clean'),
 ('KiRu29268224', datetime.datetime(2021, 1, 9, 14, 17), 'Inorganic contaminants: Selenium', 3.61361, 0.0, 'Contaminated: Chemical'),
 ('KiRu30187224', datetime.datetime(2021, 1, 9, 14, 21), 'Clean', 0.0116701, 7.59707e-05, 'Clean'),
 ('KiMr25057224', datetime.datetime(2021, 1, 9, 14, 28), 'Bacteria: Salmonella', 0.0, 267.371, 'Contaminated: Biological'),
 ('AkRu04348224', datetime.datetime(2021, 1, 9, 14, 30), 'Clean', 0.0847516, 9.6068e-05, 'Clean'),
 ('KiZu31261224', datetime.datetime(2021, 1, 9, 14, 34), 'Inorganic contaminants: Zinc, Selenium, Arsenic, Cadmium', 4.98908, 0.0, 'Contaminated: Chemical'),
 ('HaRu19199224', datetime.datetime(2021, 1, 9, 14, 45), 'Inorganic contaminants: Cadmium', 4.43419, 0.0, 'Contaminated: Chemical'),
 ('KiRu29696224', datetime.datetime(2021, 1, 9, 14, 47), 'Inorganic contaminants: Copper', 8.21822, 0.0, 'Contaminated: Chemical'),
 ('KiRu26106224', datetime.datetime(2021, 1, 9, 14, 59), 'Clean', 0.0743687, 5.24281e-05, 'Clean'),
 ('KiRu27423224', datetime.datetime(2021, 1, 9, 15, 5), 'Bacteria: E. coli', 0.0, 21.7296, 'Contaminated: Biological'),
 ('HaRu18078224', datetime.datetime(2021, 1, 9, 15, 35), 'Inorganic contaminants: Arsenic', 1.83791, 0.0, 'Contaminated: Chemical'),
 ('AkHa00555224', datetime.datetime(2021, 1, 9, 16, 19), 'Inorganic contaminants: Lead, Chromium', 4.77361, 0.0, 'Contaminated: Chemical'),
 ('KiIs24152224', datetime.datetime(2021, 1, 9, 16, 40), 'Clean', 0.0570679, 7.39365e-05, 'Clean'),
 ('AkRu03181224', datetime.datetime(2021, 1, 10, 9, 1), 'Inorganic contaminants: Lead', 8.90527, 0.0, 'Contaminated: Chemical'),
 ('SoRu35782224', datetime.datetime(2021, 1, 10, 9, 13), 'Inorganic contaminants: Chromium, Zinc', 1.17639, 0.0, 'Contaminated: Chemical'),
 ('SoBa31799224', datetime.datetime(2021, 1, 10, 9, 16), 'Bacteria: E. coli', 0.0, 12.1674, 'Contaminated: Biological'),
 ('SoKo33085224', datetime.datetime(2021, 1, 10, 9, 18), 'Virus: Enteroviruses', 0.0, 262.668, 'Contaminated: Biological'),
 ('AkRu06489224', datetime.datetime(2021, 1, 10, 9, 44), 'Bacteria: Giardia Lamblia', 0.0897904, 38.467, 'Contaminated: Biological'),
 ('AkRu06588224', datetime.datetime(2021, 1, 10, 10, 3), 'Clean', 0.082105, 4.0181e-05, 'Clean'),
 ('KiRu27553224', datetime.datetime(2021, 1, 10, 10, 10), 'Inorganic contaminants: Mercury, Arsenic, Cadmium, Copper', 1.01623, 0.0, 'Contaminated: Chemical'),
 ('SoRu36464224', datetime.datetime(2021, 1, 10, 10, 15), 'Clean', 0.0231531, 6.37108e-05, 'Clean'),
 ('AkKi01340224', datetime.datetime(2021, 1, 10, 10, 32), 'Inorganic contaminants: Mercury, Barium', 6.21727, 0.0, 'Contaminated: Chemical'),
 ('SoRu35868224', datetime.datetime(2021, 1, 10, 11, 32), 'Virus: Enteroviruses', 0.0, 262.668, 'Contaminated: Biological'),
 ('KiRu27574224', datetime.datetime(2021, 1, 10, 11, 41), 'Clean', 0.0356204, 9.80107e-05, 'Clean'),
 ('KiRu26516224', datetime.datetime(2021, 1, 10, 11, 42), 'Inorganic contaminants: Lead', 3.30184, 0.0, 'Contaminated: Chemical')]

END of PART 1